body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}


header {
    background-color: black;
    color: white;
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;

}

.main-menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.main-menu li {
    display: inline;
    margin-right: 10px;
}

.main-menu a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

p {
    text-align: justify;
}

.avatar {
    height: 300px;
    text-align: center;
    background-image: url(images/background1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.avatar > img {
    height: 100%;
}

.btn {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    transition: color 0.5s, border-color 0.5s;
}

.btn:hover {
    color: blue;
    border-color: blue;

}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: 1px solid black;
}

.btn-white {
    color: white;
    border-color: white;
}